* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/image2.jpg);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(3, 2, 20); */
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  /* border: 2px solid yellow; */
  min-height: 12.5rem;
  padding: 10px 25px 20px 25px;
  width: 25rem;
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.8) -3px -3px;
}

form {
  /* border: 2px solid red; */
  height: 100%;
}

.number {
  width: 100%;
  padding: 9px 20px;
  font-size: 20px;
  outline: none;
  color: rgb(3, 2, 20);
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.phone-carrier {
  margin: 10px 0;
}

.number::placeholder {
  color: rgb(172, 161, 161);
  text-align: center;
}

.check-btn {
  padding: 10px;
  margin: 5px 0;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
  cursor: pointer;
  background-color: rgb(3, 2, 20);
  color: white;
  border-radius: 7px;
}

.check-btn:hover {
  background-color: rgb(19, 18, 18);
}
.header {
  border-bottom: 1px solid rgba(3, 2, 20, 0.3);
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.message {
  /* border: 1px solid red; */
  text-align: center;
  padding: 5px 0;
}

.logo-ctn {
  width: 40px;
  height: 35px;
  position: relative;
  margin: -39px 5px 0 18rem;
}

.logo {
  width: 100%;
  height: 100%;
}
