@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --custom-color: rgb(1, 1, 24);
    --padding: 20px;
    --medium-font-size: 1.2em;
    --big-font-size: 2em;
    --input-padding: 11px 25px;
    --border-raduis: 8px;
    --margin-bottom: 14px;
    --border: 1px solid #e7dfc5;
    --marging-top: 14px;
    --mist-color:  rgb(248, 163, 4);
    --button-hover: rgb(4, 69, 122);
    --color: #e7dfc5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background: #f4f5f6
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  min-height: 400px;
}
.nav-bar {
  background-color: rgb(1, 1, 24);
  height: 15vh;
  display: flex;
}

.logo {
  margin-top: 20px;
  margin-left: 60px;
  text-decoration: none;
  color: rgb(248, 163, 4);
  font-size: 25px;
  letter-spacing: 10px;
}

nav {
  height: 10vh;
  background: rgb(2, 2, 17);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  margin-left: 300%;
  margin-top: 10%;
}

.nav-links a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  transition: ease-in .5s;
}

.nav-links a span {
  color: rgb(248, 163, 4);
}

.nav-links a:hover {
  background-color: whitesmoke;
  color: rgb(248, 163, 4);
  border-radius: 4px;
  cursor: pointer;
}

.nav-links a span:hover {
  color: black;
  cursor: pointer;
}

.navbar ul a .active {
  border-bottom: solid 2px rgb(190, 217, 228);
}

#about {
  width: 100%;
  height: 40vh;
  margin: 30px;
  padding: 30px 200px 40px 200px;
  background: var(--border);
  text-align: center;
}

#about h1 {
  font-family: 'Montserrat' sans-serif;
  font-size: 45px;
  font-weight: 100;
}

#about p {
  margin-top: 30px;
  font-size: 14px;
  
}

#team_data {
  width: 100%;
  height: 70vh;
  background: var(--color);
  margin: 0;
  padding: 10px;
  display: flex;
}

.team-member {
  width: 40%;
  height: 50vh;
  background: var(--custom-color);
  margin: 40px 20px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}



.team-member img {
  width: 130px;
  height: 130px;
  border-radius: 45%;
  margin: 5px 5px 5px 0px;
  /* border: solid 2px plum; */
  /* margin-right: 5px; */
}

.member-info h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: var(--mist-color);
  margin-top: 10px;
}

.member-info h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: var(--color);
  margin-top: 10px
}

.member-info p {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--color);
  margin-top: 10px;
}

.validation {
  width: 100%;
  height: 23vh;
  background: whiet;
  margin: 0;
  padding: 30px;
  text-align: center;
}

.validation p {
  font-family: 'Montserrat' sans-serif;
  font-size: 20px;
  color: black;
}

.validation button {
  width: 100px;
  height: 50px;
  background: var(--custom-color);
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  transition: ease .5s;
}

.validation button a {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: var(--color);
}

.validation button:hover {
  background: var(--mist-color);
  color: black;
  border: none;
}

.validation button a:hover {
  color: black;
}

@media (max-width: 1217px) {
  .nav-bar {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    margin-left: 50%;
  }
  #about {
    width: 100%;
    margin: 0;
  }

  #about h1 {
    font-size: 20px;
    font-weight: 300;
  }

   #about p {
     font-size: 8px;
   }

  .team-member {
    width: 30%;
  }
  
  
  
  .team-member img {
    width: 100px;
    height: 100px;
  }
  
  .member-info h3 {
    font-size: 20px
  }
  
  .member-info h4 {
    font-size: 13px;
  }
  
  .member-info p {
    font-size: 10px;
  }
}
/* 
@media (max-width: 1217px) {
  #about {
    height: 30vh;
    width: 100%;
  }

  #about h1 {
    font-size: 25px;
  }
} */

@media (min-width: 310px) and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
  body {
    margin: auto;
  }
  .profile:nth-of-type(1) {
    background-color: rgb(45, 15, 73);
    color: white;
    background-image: url(/Images/IMG_1743.JPG);
    background-position-x: 80%;
    background-repeat: no-repeat;
    background-size: 20px;
    grid-column: 1/3;
  }
  .profile:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 2;
    background-color: rgb(233, 112, 112);
  }
  .profile:nth-of-type(3) {
    grid-row: 3/4;
    grid-column: 2;
  }
  .profile:nth-of-type(4) {
    grid-row: 2/4;
    grid-column: 1;
    background-color: rgb(48, 36, 36);
  }
  .profile:nth-of-type(5) {
    grid-row: 5;
    grid-column: 1/3;
    background-color: rgb(122, 179, 150);
  }
}
@media (max-width: 309px) {
  .container {
    grid-template-columns: 1fr;
    width: 95%;
  }
  body {
    margin: auto;
  }
  .profile:nth-of-type(1) {
    background-color: rgb(37, 4, 68);
    color: white;
    background-image: url(/Images/IMG_1743.JPG);
    background-position-x: 80%;
    background-repeat: no-repeat;
    background-size: 20px;
    grid-column: 1/2;
  }
  .profile:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(173, 65, 65);
  }
  .profile:nth-of-type(3) {
    grid-row: 3;
    grid-column: 1;
    background-color: whitesmoke;
  }
  .profile:nth-of-type(4) {
    grid-row: 4;
    grid-column: 1;
    background-color: rgb(37, 27, 27);
  }
  .profile:nth-of-type(5) {
    grid-row: 5;
    grid-column: 1;
    background-color: rgb(68, 97, 82);
  }
}
