@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --custom-color: rgb(1, 1, 24);
  --padding: 20px;
  --medium-font-size: 1.2em;
  --big-font-size: 2em;
  --input-padding: 11px 25px;
  --border-raduis: 8px;
  --margin-bottom: 14px;
  --border: 1px solid #e7dfc5;
  --marging-top: 14px;
  --mist-color: rgb(248, 163, 4);
  --button-hover: rgb(4, 69, 122);
  --color: #e7dfc5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  background: #f4f5f6;
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
}
.nav-bar {
  background-color: rgb(1, 1, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
}

.logo {
  text-decoration: none;
  color: rgb(248, 163, 4);
  font-size: 1.8em;
  letter-spacing: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 1em 1em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: sans-serif;
  transition: ease-in 0.5s;
}

#val {
  color: rgb(248, 163, 4);
}

.nav-links a:hover {
  background-color: whitesmoke;
  color: rgb(248, 163, 4);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8em;
}

#val:hover {
  color: black;
  cursor: pointer;
}

#about {
  width: 100%;
  padding: 30px 150px;
  background: var(--border);
  text-align: center;
}

#about h1 {
  font-family: "Montserrat" sans-serif;
  font-size: 3em;
  font-weight: 100;
}

#about p {
  margin-top: 30px;
  font-size: 1.7em;
}
.team-section {
  background: var(--color);
  padding: 20px 0;
}

#team {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-member {
  background: var(--custom-color);
  margin: 20px 20px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
}

.team-member img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 5px 5px 5px 0px;
}

.member-info h3 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: var(--mist-color);
  margin-top: 10px;
}

.member-info h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  color: var(--color);
  margin-top: 10px;
}

.member-info p {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--color);
  margin-top: 10px;
  letter-spacing: 1px;
}

.validation {
  width: 100%;
  background: white;
  padding: 30px;
  text-align: center;
}

.validation p {
  font-family: "Montserrat" sans-serif;
  font-size: 1.7em;
  color: black;
}

.validation button {
  background: var(--custom-color);
  margin-top: 20px;
  padding: 2em;
  border: none;
  border-radius: 10px;
  transition: ease 0.5s;
}

.validation button a {
  font-family: sans-serif;
  font-size: 1.8em;
  text-decoration: none;
  color: var(--color);
}

.validation button:hover {
  background: var(--mist-color);
  color: black;
  border: none;
}

.validation button a:hover {
  color: black;
}

@media (min-width: 531px) and (max-width: 800px) {
  #about {
    padding: 30px 100px;
  }
  #team {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .nav-bar {
    padding: 2em 2em;
  }
  .logo {
    letter-spacing: 7px;
    font-size: 1.5em;
  }
  #about h1 {
    font-size: 2.5em;
  }
  #about p {
    font-size: 1.2em;
  }
  .member-info h3 {
    font-size: 1.2em;
    font-weight: 100;
  }
  .member-info h4 {
    font-size: 1em;
  }
  .member-info p {
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .validation p {
    font-size: 1.2em;
  }
  .validation button {
    padding: 1.5em;
  }
  .validation button a {
    font-size: 1.5em;
  }
}
@media (min-width: 321px) and (max-width: 530px) {
  #about {
    padding: 30px 30px;
  }

  #team {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .nav-bar {
    padding: 2em 1em;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 3em;
    letter-spacing: 5px;
    font-size: 1.2em;
  }
  #about h1 {
    font-size: 2em;
  }
  #about p {
    font-size: 1em;
  }
  .member-info h3 {
    font-size: 1.2em;
    font-weight: 100;
  }
  .member-info h4 {
    font-size: 1em;
  }
  .member-info p {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  .validation p {
    font-size: 1em;
  }
  .validation button {
    padding: 1.2em;
  }
  .validation button a {
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  #about {
    padding: 30px 30px;
  }

  #team {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .nav-bar {
    padding: 2em 1em;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 3em;
    letter-spacing: 2px;
    font-size: 1em;
  }
  #about h1 {
    font-size: 1em;
    font-weight: bold;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;
  }
  .nav-links a {
    font-size: 0.8em;
  }
  #about p {
    font-size: 0.7em;
  }
  .team-member img {
    width: 70px;
    height: 70px;
    margin: 5px 0;
  }

  .member-info h3 {
    font-size: 1em;
    font-weight: 100;
  }

  .member-info h4 {
    font-size: 0.7em;
  }

  .member-info p {
    font-size: 0.5em;
    letter-spacing: 1px;
  }
  .validation p {
    font-size: 0.7em;
  }
  .validation button a {
    font-size: 1em;
  }
  .validation button {
    padding: 1em;
  }
}
